#logo{
    position: absolute;
    right:10px;
    bottom: 10px;
  }
  body{
    background-image:url("../image/backgroundimage.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-size: 100% 100%;
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: script;
  }
  hr {
    width: 20%;
    margin:0;
  }
  
  nav {
    background-color: #333;
    border: 1px solid #333;
    color: #fff;
    display: block;
    margin: 0;
    overflow: hidden;
  }
  nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
  }
  nav ul li {
    margin: 0;
    display: inline-block;
    list-style-type: none;
    transition: all 0.2s;
  }
  
  nav > ul > li > a {
    color: #aaa;
    display: block;
    line-height: 2em;
    padding: 0.5em 2em;
    text-decoration: none;
  
  }
  
  nav li > ul{
    display : none;
    margin-top:1px;
    background-color: #bbb;
  
  }
  
  nav li > ul li{
    display: block;
  }
  
  nav  li > ul li a {
    color: #111;
    display: block;
    line-height: 2em;
    padding: 0.5em 2em;
    text-decoration: none;
  }
  
  nav li:hover {
    background-color: #666;
  }
  nav li:hover > ul{
    position:absolute;
    display : block;
  }
  nav li > ul > li ul  {
    display: none;
    background-color: #888;
  }
  nav li > ul > li:hover > ul  {
    position:absolute;
    display : block;
    margin-left:100%;
    margin-top:-3em;
  }
  
  nav ul > li.sub{
    background: url(ic_keyboard_arrow_down_white_18dp.png) right center no-repeat;
  }
  
  nav ul > li.sub li.sub{
    background: url(ic_keyboard_arrow_right_white_18dp.png) right center no-repeat;
  }
  
  
.heading{
    font-size:40px; 
    font-weight: bold; 
    color:white; 
    margin-top:2px;
    margin:0;
}

.subheading{
    font-size:10px; 
    font-weight: bold; 
    color:white; 
    margin-top:0px;
    margin:0;
}

/* footer */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}

section {
  width: 100%;
  display: inline-block;
  background: #333;
  height: 50vh;
  text-align: center;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
}

.footer-distributed {
  background: #333333;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Open Sans", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: lightseagreen;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #a8aaac;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: lightseagreen;
  text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #a1a3a4;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {
  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
}

/* end footer */









  body {
	margin: 5;
  }
  p {
	max-width: 600px;
	margin: 0 auto 1rem;
  }

  .container1 {
    width: 100%;
    height: 120vh;
    display: block;
    overflow: hidden;
}


/* table */

table {
	width:900px;
	border-spacing: 20px;
    align-items: center;
  }
  
  th {
	text-align: center;
  }
  th,
  td {
	padding: 5px;
	color: white;
	background-clip: padding-box;
  }

/* end table */
  

.login {
    position: relative;
    background: #686d6f7a;
    padding: 35px 40px;
    border-radius: 4px;
    z-index: 1;
    overflow: hidden; 
    box-shadow: 0px 12px 31px #ffffff52 , 0px 36px 31px #000000a1;
    animation: login 0.88s ease;
}

	
.main {
    height: 50vh;
    width: 100%;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-size: cover;
    background-repeat: no-repeat;
    flex-wrap: wrap-reverse;
    font-family: "Poppins",sans-serif;
}

@keyframes login {
    0% {
        transform: translateY(-10%) scale(.8);
        opacity: 0;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

  
  
  
  
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.BG{
  background: url(bg1.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 20vh;
}
nav{
  background: #333333;
  height: 60px;
  width: 100%;
}
label.logo{
  font-family: 'Poppins';
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: 500;
}
label.logo:hover{
  color: #5eb9ff;
}
nav ul{
  float: right;
  /* margin-right: 20px; */
}
nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 0px;
}
nav ul li a{
  font-family: 'Poppins';
  font-size: 17px;
  font-weight: 500;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  color: white;
}
a.active,a:hover{
  color: #beede9;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none ;
}
@media (max-width: 952px){
label.logo{
  font-size: 30px;
  padding-left: 50px;
}
nav ul li a{
  font-size: 16px;
}

}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 60%;
    height: 100vh;
    background: #000000c9;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }
  
#check:checked ~ ul{
  left: 0;
}
}


.subheading1{
  font-size:40px; 
  font-weight: bold; 
  color:white; 
  margin-top:0px;
  margin:0;
}
.subheading2{
  font-size:20px; 
  /* font-weight: bolder;  */
  color:white; 
  margin-top:0px;
  margin:0;
  text-align:left;
}

.subheading3{
  font-size:20px; 
  font-weight: bolder; 
  color:white; 
  margin-top:0px;
  margin:0;
  text-align:center;
}





@import url('htpps://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');


.container{
display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.container a{
position: relative;
  width: 160px;
  height: 60px;
  display: inline-block;
  background: #fff;
  margin: 20px;
}
.container a:before,
.container a:after
{
content:'';
  position: absolute;
  inset: 0;
  transition: 0.5s;
  background: #f00
}
.container a:nth-child(1):before,
.container a:nth-child(1):after
{
 background: linear-gradient(45deg, rgb(81, 200, 196), #92c9eb, #64c6c0)
}
.container a:nth-child(2):before,
.container a:nth-child(2):after
{
  background: linear-gradient(45deg, #f0075b, #0e1538, #1aff22);
}
.container a:hover:before
{
  inset: -3px;  
}
.container a:hover:after
{
  inset: -3px;  
  filter: blur(10px);
}
.container a span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  display: inline-block;
  background: #333333;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  border: 1px solid #040a29;
  overflow: hidden;
  border-radius: 4px;
}
.container a span::before{
content:'';
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.075);
    transform: skew(25deg)
}